<div class="about pannels">
   <div class="pannel p4">
      <h3 class="title pannel-title">
         Contactez nous
      </h3>
   </div>
   <div class="pannel p2">
      <h3 class="title pannel-title">À propos</h3>
   </div>
   <div class="pannel p2">
      <h3 class="title pannel-title">Offrez moi un café</h3>
   </div>
</div>